.footer-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "autor1 nombre escuela"
                         "autor2 nombre escuela";
    padding: 20px;
}

h5{
    grid-area: nombre;
}

.autor1{
    grid-area: autor1;
}
.autor2{
    grid-area: autor2;
}

.escuela{
    grid-area: escuela;
}